<template>
  <div class="modal-manager" v-if="modals.length">
    <div class="modal-manager__modal"
      :key="modal.id"
      v-for="modal in modals"
    >
      <component :is="modal.type" v-bind="modal"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ModalManager',
  data () {
    return {
      modals: this.$modals.openedModals
    }
  },
  beforeCreate () {
    this.$options.components = this.$modals.components
  }
}
</script>
